p,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto",sans-serif;
    /*font-weight: 700;*/
}

body {
    position: relative;
    font-size: 20px;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.navbar {
    margin-bottom: 0px;
}

body, html, .container-fluid, .sidebar, .body {
    height: 100%;
    min-height: 100%;
}

.affix ~ .container-fluid {
    position: relative;
    /*top: 50px;*/
}

#about {
    padding-top: 50px;
    background-color: #EEE;
}

#portfolio {
    padding-top: 50px;
    background-color: #EEE;
}

#contact {
    padding-top: 50px;
    /*height: 500px;*/
    /*color: #fff;*/
    background-color: #EEE;
}

.img-about {
     max-width: 7em;
     padding-top:10px;
}

.button {
    color: #0026ff;
    border: solid 2px #722872;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 48px;
    transition: all .3s ease-in-out;
}

    .button:hover {
        border: solid 2px #fff;
        color: #722872;
        background: #fff;
    }

.contact {
    color: #fff;
    background-color: #aaa;
    text-align: center;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0;
    border: 1px outset rgba(255, 255, 255, 0.6);
}

    #portfolio .portfolio-item:hover {
        transition: 0.5s;
        box-shadow: 5px 10px 5px rgba(0,0,0,0.9);
    }

    #portfolio .portfolio-item .portfolio-link {
        display: block;
        position: relative;
        max-width: 400px;
        margin: 0 auto;
    }

        #portfolio .portfolio-item .portfolio-link .portfolio-hover {
            background: rgba(0, 0, 0, .7);
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all ease .5s;
            -webkit-transition: all ease .5s;
            -moz-transition: all ease .5s,;
        }

            #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
                opacity: 1;
            }

            #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
                position: absolute;
                width: 100%;
                height: 20px;
                font-size: 20px;
                text-align: center;
                top: 50%;
                margin-top: -12px;
                color: #fff;
            }

                #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
                    margin-top: -12px;
                }

                #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
                #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
                    margin: 0;
                }

    #portfolio .portfolio-item .portfolio-caption {
        max-width: 400px;
        margin: 0 auto;
        background-color: rgba(0,0,0, 0.8);
        text-align: center;
        padding: 25px;
    }

        #portfolio .portfolio-item .portfolio-caption h4 {
            color: #fff;
            text-transform: none;
            margin: 0;
        }

        #portfolio .portfolio-item .portfolio-caption p {
            font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-style: italic;
            font-size: 13px;
            margin: 0;
        }

#portfolio * {
    z-index: 2;
}

.text-footer {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.15em;
    padding: 10px 0 10px 0;
    margin-top: 20px;
    color: #FFFFFF;
    background-color: rgba(34,39,43,0.85);
}

.footer-logos i {
    border: 1px solid #646464;
    border: 1px solid rgba(100, 100, 100, .3);
    border-radius: 25%;
    color: #646464;
    font-size: 1.1em;
    margin-right: .25em;
    padding: .4em;
}

a:hover,
.active {
    color: white;
    ;
}


@media (min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

#about {
    color: black;
    /*background: url('https://www.grantthornton.com/~/media/Images/HC-Home-Carousel/Office/HC_2013_05_Laptop-Binder-Coffee-Cup.ashx') no-repeat center center fixed;*/
    background: url('http://www.writehacks.com/wp-content/uploads/2015/04/white-laptop-and-coffee-background.png') no-repeat center center fixed;
    /*background: url('https://4.bp.blogspot.com/-bNyR_uS82mY/VDPWGnIP62I/AAAAAAABQSU/SGpvafEDxuk/s0/Laptop%2Bcoffee%2Bcup%2Bagenda.jpg');*/
       background-size: cover;
}

#portfolio {
    color: black;
    background: url('https://i.guim.co.uk/img/media/574fbf745b2112e040a04dd82d23d66f0be1c439/0_13_4368_2622/master/4368.jpg?w=1920&q=55&auto=format&usm=12&fit=max&s=f617b0887e75df933b8dfefcf80e3c59' ) no-repeat center center fixed;
    background-size: cover;
}

#contact {
    color: black;
    background: url('https://c7.staticflickr.com/6/5607/15326996038_4657d53aea_b.jpg') no-repeat center center fixed;
    background-size: cover;
}

.fill {
    min-height: 100%;
    height: 100%;
}

.portfolioFill {
    min-height: 100%;
    height: 100%;
}

.banner-social-buttons {
}
/* social buttons */
.btn {
    display: inline-block;
    color: #000;
    border: 2px outset rgba(0, 0, 0, 0.9);
    background: #C0C0C0;
    text-shadow: 1px 1px 1px rgba(0,0,0, 20);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    letter-spacing: 2px;
    transition: 0.2s;
}

    .btn:hover {
        color: #fff;
        border: 2px outset rgba(0, 0, 0, 0.9);
        background: rgba(0,0,0, 0.9);
        transform: scale(1.1);
        transition: 0.2s;
        text-shadow: 1px 1px 1px rgba(0,0,0, 20);
        box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        letter-spacing: 2px;
    }

.text-about {
    font-size: 1.2em;
}

@media only screen and (max-width: 500px) {
    .text-about {
        font-size: 0.8em;
    }

    body, html, .container-fluid, .sidebar, .body {
        height: initial;
        min-height: 100%;
    }

    .portfolioFill {
        height: auto;
    }

    #contact {
        height: 500px;
    }

    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1.0em;
    }
}
